# OS Files
.DS_Store

# Packages
node_modules/

# IDE
.idea/

# Build/Output
gatsby-ssr.js
gatsby-node.js
interfaces.js
utilities.js
gatsby-plugin-webpack-entry-stats-plugin.js
*.spec.js
*.js.map
test/coverage/
test/end-to-end/logs
test/end-to-end/output
gatsby-stats.json
